[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "==1.2.4"

[dev-packages]
autopep8 = "*"
flake8 = "*"
boto3 = "*"

[requires]
python_version = "3.8"
